html,body {
    margin: 0;
    height: 100%;
}
.clear { clear: both }

#banner{
    background-color: cyan;
}

#welcomeText{
    float: left;
    height: 80px;

}

#links {
    float: right;
    height: 80px;
    line-height: 80px
}

#links > a {
    padding-right: 10px;
}

#links > a:first-child {
    padding-left: 10px;
}

.content > p {
    line-height: 1.8;
}

#copyright {
    float: left;
    padding-left: 10px;
    height: 50px;
}

#contactus {
    float: right;
    padding-right: 10px;
    height: 50px;
    line-height: 50px
}

#page {
    position: relative;
    padding-bottom: 50px;
    min-height: 100%;
    box-sizing: border-box;
}

footer {
    background-color : cyan;
    bottom: 0;
    position: absolute;
    width: 99%;
}